<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
<header th:replace="~{header :: header}"></header> <!-- 공통 헤더 -->

<main class="container">
    <h2>Login</h2>
    <form th:action="@{/login}" th:object="${user}" method="post">
        <div>
            <label>Email:</label>
            <input type="text" th:field="*{email}" />
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <div th:if="${error}" th:text="${error}"></div>
        <button type="submit">Login</button>
        <button type="button" onclick="window.location.href='/register'">Register</button>

    </form>
</main>
</body>
</html>