<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
<header th:replace="~{header :: header}"></header> <!-- 공통 헤더 -->

<main class="container">
  <button onclick="location.href='/recipes/new'">새로운 레시피 추가</button>

  <section>
    <h2>카테고리 선택</h2>
    <form th:action="@{${currentUri}}" method="get">
      <div>
        <ul>
          <li th:each="category : ${categories}">
            <label>
              <input type="checkbox"
                     name="categoryId"
                     th:value="${category.categoryId}"
                     th:checked="${categoryIds != null and categoryIds.contains(category.categoryId)}" />
              <span th:text="${category.name}">카테고리 이름</span>
            </label>
          </li>
        </ul>
        <button type="submit">적용</button>
      </div>
    </form>
  </section>

  <!-- 재고 목록 테이블 -->
  <table th:if="${recipes}">
    <thead>
    <tr>
      <th>이름</th>
      <th>카테고리</th>
      <th>관리</th>
      <th>사용</th>
    </tr>
    </thead>
    <tbody>
    <!-- 각 재고 목록을 반복 출력 -->
    <tr th:each="recipe : ${recipes}">
      <td>
        <span th:text="${recipe.name}"></span> <!-- 타임리프를 사용해 데이터 출력 -->
      </td>

      <td>
        <span th:text="${recipe.categoryNames()}"></span>
      </td>

      <td>
        <button
                type="button"
                th:onclick="'location.href=\'/recipes/' + ${recipe.recipeId} + '\''">
          관리
        </button>
      </td>

      <td>
        <button
                type="button"
                th:onclick="'location.href=\'/recipes/' + ${recipe.recipeId} + '/refrigerators\''">
          사용
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</main>

</body>
</html>
