<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>
<header th:replace="~{header :: header}"></header> <!-- 공통 헤더 -->

<main class="container">
    <h2>아이템 추가</h2>

    <!-- 생성 폼 -->
    <form th:action="@{/items/new}" th:object="${item}" method="post">
        <div th:if="${error}" th:text="${error}"></div>

        <div>
            <label for="name">Item Name:</label>
            <input type="text" th:field="*{name}" id="name" />
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <!-- 아이템 상태 선택 -->
        <div>
            <label for="state">Item State:</label>
            <select th:field="*{state}" id="state">
                <option value="solid">고체</option>
                <option value="liquid">액체</option>
            </select>
            <div th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></div>
        </div>

        <!-- 폼 제출 버튼 -->
        <button type="submit">추가</button> <!-- 서버에서 처리 후 '/refrigerators'로 리디렉션 -->
        <!-- 취소 버튼 -->
        <button type="button" onclick="window.location.href='/refrigerators'">취소</button>
    </form>
</main>
</body>
</html>
